body {
	font-family: $txt-font;
	font-size: 17px;
	color: $txt-color;
}

h1 {
	margin: 0;
}

p {
	margin: 0 0 30px;
	line-height: 1.65em;
	text-align: justify;
}
a {
	text-decoration: none;
}

.section {
	padding: 150px 0;
}

.border {
	border: 1px solid red;
}
.container {
	max-width: 1170px;
	margin: 0 205px;
	&-outer {
		width: 100%;
		max-width: 1580px;
		margin: 0 auto;
	}
}
.relative {
	position: relative;
}
.ttu {
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
    clip-path: inset(100%);
	clip: rect(0 0 0 0);
    overflow: hidden;
    &:focus {
    	outline: none;
    }
}
.section-title {
	font-family: $title-font;
	font-size: 60px;
	color: $title-color;
	position: relative;
	margin: 0;
	padding: 0;
	letter-spacing: 0.05em;
}
.shadow-title {
	font-size: 1.8em;
	opacity: 0.03;
	display: block;
	position: absolute;
	top: 0.3em;
	left: -100px;
	line-height: 1;
}
.smaller {
	display: block;
	font-size: 0.25em;
	letter-spacing: 0.12em;
	font-family: $txt-font;
	text-transform: uppercase;
	margin-top: 10px;
}

.cta-btn {
	background-color: $accent-color;
	color: #fff;
	font-family: $txt-font;
	font-size: 16px;
	font-weight: 900;
	border: none;
	padding: 1.06em 1.94em;
	letter-spacing: 0.1em;
	cursor: pointer;
}



